<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCare Center</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 3v12h-5c-.023-3.681.184-7.406 5-12zm0 12v6h-1v-3M8 21h12M4 3v18h4v-3h3v-3h2M4 12h3M3 6h4"/><path d="M7 18h1"/></svg>
                <span>HealthCare Center</span>
            </div>
            <ul class="nav-links">
                <li><a href="hos" class="active">Hospitals</a></li>
                <li><a href="lab">Labs</a></li>
                <li><a href="bot">Consultancy</a></li>
                <li><a href="#">Pharmacy</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Find Your Perfect Healthcare Provider</h1>
            <div class="search-container">
                <input type="text" id="doctorSearch" placeholder="Search for doctors...">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
                </button>
            </div>
        </section>
        <section class="statistics">
            <h2>Best Docters</h2>
            <canvas id="lineChart"></canvas>
        </section>
        <section class="statistics">
            <h2>Hospital Success Rates</h2>
            <div class="hospital-grid">

            </div>
        </section>
    </main>

    <script src="../static/js/home.js"></script>
</body>
</html>