<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Hospital</h1>
        <button id="hospitalBtn">Hospitals</button>
        <button id="departmentBtn">Departments</button>
    </header>

    <main id="mainContent"></main>

    <script src="../static/js/script.js"></script>
</body>
</html>
