<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
</head>
<body>
<header>
    <h1>Hospital</h1>
    <button id="hospitalBtn">Hospitals</button>
    <button id="departmentBtn">Departments</button>
</header>

<main id="mainContent"></main>

<div id="mapModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="popupMap"></div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>
